<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://www.weidert.com/hubfs/2018%20blog%20images/website_gdd.jpg" style="height: 512px; width: 1366px; align:center">
</body>
</html>